PORT=3000
NODE_ENV=development
CORS_ORIGIN=*
DATABASE_URL=postgresql://postgres.gsjiteadtvhlkuexeyvk:[YOUR-PASSWORD]@aws-1-us-east-2.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres.gsjiteadtvhlkuexeyvk:[YOUR-PASSWORD]@aws-1-us-east-2.pooler.supabase.com:5432/postgres
DEMO_USUARIO_ID=
